body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Home, .Project{
  background: #f2f7f8;
}
.list-group-item span{
  margin-right: 20px;
}

#resume th{
  color:black;
}

#resume td{
  color:white;
  font-weight: 550;
}
.progress{
  margin-bottom: 5px;
}

